<footer>
    <div class="container_grid container_rodape">
        <div class="links_footer">
            <div>
                <h2>Links Úteis</h2>
                <ul>
                    <li><a href="#">Regras de utilização</a></li>
                    <li><a href="#">Suporte</a></li>
                    <li><a href="#">Central de Ajuda</a></li>
                    <li><a href="#">Contato</a></li>
                </ul>
            </div>
            <div>
                <h2>Páginas</h2>
                <ul>
                    <li><a href="#">Início</a></li>
                    <li><a href="#">Campeonatos</a></li>
                    <li><a href="#">Resultados</a></li>
                    <li><a href="#">Notícias</a></li>
                    <li><a href="#">Login/Cadastro</a></li>
                </ul>
            </div>
        </div>

        <div class="box_logo">
            <img class="logo" src="./img/logo.png" alt="Logo do site E-Players">
        </div>

        <div class="info_contato">
            <p>Faça parte do nosso clan, assine nossa newsletter!</p>
            <form action="">
                <input type="email" placeholder="E-mail" required>
                <button>Cadastrar</button>
            </form>
            <div class="siganos">
                <h2>Siga-nos em:</h2>
                <a href="#"><img src="./img/instagram 1.png" alt=""></a>
                <a href="#"><img src="./img/facebook 1.png" alt=""></a>
                <a href="#"><img src="./img/youtube.png" alt=""></a>
            </div>
        </div>
    </div>
</footer>
