<h1>Home - E-Palyers</h1>

<section class="banner banner-f1">
    <div class="container_grid posicao_texto">
        <div class="texto_banner">
            <span>Liga E-Players</span>
            <p>O maior portal de campeonatos online</p>
            <a href="#">Inscreva-se</a>
        </div>
    </div>
</section>
<div class="secao_jogos">
    <div class="linha_jogos container">
        <img src="assets/img/formula-1-logo-1-1 1.png" alt="">
        <img src="assets/img/logo-lol.png" alt="">
        <img src="assets/img/Counter-Strike-Logo.png" alt="">
        <img src="assets/img/valorant_logo.png" alt="">
        <img src="assets/img/fifa_logo.png" alt="">
    </div>
</div>
<section class="ofertas">
    <div class="container_grid">
        <h2>Ofertas</h2>
        <div id="secao_produtos" class="secao_cards">


        </div>
    </div>
</section>
<section class="section_ligas">
    <div class="container_grid box_ligas">
        <div class="liga_texto">
            <h2>Como participar das ligas?</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has survived not only five centuries,
                but also the leap into electronic typesetting, remaining essentially unchanged. It was
                popularised in the .</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book.</p>
        </div>
        <img src="./img/league-of-legends-champions-png 1.png" alt="">
    </div>
</section>
<app-footer></app-footer>
